html{
    height: 100%;
}

.navbar-nav{
    margin-left: 200px;
}

.d-inline-block{
    padding-left: 5px;
}

.nav-item{
    padding-right: 50px;
    font-size: 12px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.nav-item a:hover{
   background-color: #3d8bfd;
   color: white;
}

.nav-item a:active{
    text-decoration: none;
    color: purple;
}

.d-flex{
    margin-left: 100px;
    padding-right: 10px;
}

.carousel-item{
    height: 550px;
}

.carousel-control-next-icon{
    background-color: rgb(180, 179, 179); 
    border-radius: 100px;
}

.carousel-control-prev-icon{
    background-color: rgb(180, 179, 179); 
    border-radius: 100px;
}

.background{
    margin-top: 80px;
    padding-bottom: 60px;
}

.about-img{
    height: 100px;
}

.about-head{
    text-align: center;
}

.row{
    margin: 50px;
}

.header{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #fd2c33;
    text-decoration: underline;
    padding-top: 60px;
}

.f-heading{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: underline;
    text-align: justify;
}

.list-group a{
    text-decoration: none;
    list-style-type: none;
    font-size: small;
    color: white;
    font-family: "Open sans",sans-serif;
    text-align: justify;
}

.list-group a:hover{
    text-decoration: underline;
    color: #ed565d;
}

.list-group a:active{
    text-decoration: none;
    color: rgb(187, 185, 185);
}

.footer{
    background-color: #544759;
}

#contact {
    color: white;
    font-size: 14px;
    font-family: "Open sans",sans-serif;
    text-align:justify;
}

#contact-us{
    text-align: center;
}

.contact-head{
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #5b7a86;
}

.contact-words{
    font-family: helvetica, arial, sans-serif;
    color: rgb(187, 185, 185);
}

.footer-icons{
    list-style-type: none;
}

.fa-facebook-square{
    color: #3B5998;
    padding-right: 5px;
    font-size: 14px;
}

.fa-facebook-square:hover{
    color: #271f54;
}

.fa-instagram-square{
    color: #125688;
    padding-right: 5px;
    font-size: 14px;
}

.fa-instagram-square:hover{
    color: #271f54;
}

.fa-whatsapp-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
    font-size: 14px;
}

.fa-whatsapp-square:hover{
    color: #271f54;
}

.fa-pinterest-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
    font-size: 14px;
    background-color: ;
}

.fa-pinterest-square:hover{
    color: #271f54;
}

.number{
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    border-right: 2px solid #271f54;
    color: #271f54;
    font-size: 12px;
    font-weight: bold;
}

.signin{
    font-family:'Poppins', sans-serif;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 2px solid #271f54;
    color: #271f54;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.signin:hover{
    color: black;
    text-decoration: underline #02367e;
}

.ball:hover{
    width: 310px;
}

.login_page{
    background-image: url(image/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-img{
    margin-top: 15%;
    margin-left: 3%;
}

.background-img-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 30px;
    padding-left: 90px;
}

.login-label{
    color: white;
    text-align: center;
    background-color: #08445c;
}

.login-form{
    border: 2px solid transparent;
    margin-top: 45px;
    margin-right: 80px;
    text-align: center;
    margin-left:100px;
    display: flex;
}

.login-form-info{
    background-color: #ec2227;
    padding: 20px;
}

.login{
    margin-top: 100px;
}

.login-page-logo{
    padding-left: 90px;
    height: 200px;
    width: 400px;
}

.login-input{
    width: 250px;
    margin-left: 30px;
}

.guest{
    color: black;
}

.guest:hover{
    color: white;
}

.fa-phone{
    padding-right: 3px;
    color: #271f54;
    font-size: 12px;
}

.link1{
    color: #4267B2;
}

.link2{
    color: 
}

.link3{
    color: #25D366;
}

.link4{
    color: #E60023
}

.copyright{
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: "Open sans",sans-serif;
}

.brand-name{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
    color: white;
    font-family: "Open sans",sans-serif;
}

.reserved{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
    color: white;
    font-family: "Open sans",sans-serif;

}
.footer-logo{
    padding-top: 50px;
}

.contact-page-form{
    display: flex;
    font-family: "Opens sans", sans-serif;

}

.contact-text{
    background-color: #010e20;
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

#name{
    margin-right: 100px;
}

#tel{
    margin-right: 70px;
}

.policy{
    font-family: "Poppins", sans-serif; 
    color: black;
    font-size: 14px;
    padding-left: 5px;
}

.business-name{
    font-style: italic;
    color: #ec2227;
    font-family: 'Open Sans', sans-serif;
}

.about{
    margin-top: 70px;
}

.business-tagline{
    border-bottom: 3px solid #ec2227;;
    font-style: italic;
    color: #ec2227;
    font-family: 'Open Sans', sans-serif;
}

.about-image1{
    height: 330px;
    width: 320px;
}

.about-image2{
    height: 260px;
    width: 320px;
}

.about-image3{
    height: 510px;
    width: 500px;
    padding-right: 20px;
}

.second-column{
    padding-top: 89px;
    padding-left: 15px;
}

.mission-statement{
    padding-left:50px; 
    padding-right:50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.about-statement{
    text-decoration: underline;
    color: #ec2227;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.card-body{
   background-color: #ed565d;
}

.card-text{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}

.card-title{
    color: white;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.card_text{
    text-align:center;
    font-family: 'Poppins', sans-serif;
    color: #271f54;
    font-size: 20px;
}

.card-img{
    height: 550px;
    width: 12in;
}

#card-container{
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

#map{
    margin-left: 300px;

}

#new-account-title{
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: rgb(54, 53, 53);
}

#new-account-form{
    background-color: white;
    padding-bottom: 20px;
    border-radius: 12px;
    margin-right: 165px;
    margin-left: 150px;
    font-family: helvetica, arial, sans-serif;
}

#new-account{
    background-color: #3d8bfd;
}

#new-account-header{
    text-align: center;
}

  #question{
      margin-left: 20px;
  }

#guest{
    font-weight: bold;
    color: #010e20;
}

/* Rajae CSS */
.our-team{
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;
}
.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #17bebb;
    border-radius: 50%;
}
.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}
.our-team .post{
    color: #17bebb;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;

}.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
}
.our-team .social li a{
    border-radius: 50%;
    font-size: 15px;
    color: #17bebb;
    border: 1px solid #17bebb;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.our-team:hover .social li a{
    background: #005132;
}
.our-team:hover .pic{
        border-radius: 50%;
}
.our-team:hover .social li a{
    background: #17bebb;
    color: #fff;
}

.description{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}

/*Romario CSS*/
.figure-caption{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #271f54;
}

.table-pic {
    width: 25%;  
    text-align: center; 
    color: rgb(19, 12, 16);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.figure{
width: 500px;
justify-content: center;
}

#top-color{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 30px;
    font-style: italic;
    border-radius: 5px;
}

#top-color:hover{
    background-color: #ed565d;
    color: white;
}

.home-pic:hover{
    width: 280px;
}

.home-text{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: white;
    font-style: italic;
    font-weight: bold;
    padding: 30px;
    border-radius: 5px;
}

.home-text:hover{
    background-color: #ed565d;
    color: white;
}
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
  }
  
  .row {margin: 0 -5px;}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  /* Style the counter cards */
  .cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #444;
    color: white;
  }

.business-aim{
    text-align:center;
    text-decoration:underline; 
    font-style: italic; 
    font-family: 'Open Sans', sans-serif;
}

.name{
    font-family: 'Open Sans', sans-serif;
    color: #271f54;
    font-size: 18px;
}

/* Karena's CSS */
  .calendar {
    width: 45rem;
    height: 52rem;
    background-color: #222227;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  }
  
  .month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0.3rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }
  
  .days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
  }

  .days div:hover:not(.today) {
      background-color: #262626;
      border: 2rem solid #777;
      cursor: pointer;
  }

  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .spinner-grow{
      align-items: left;
      height: 14px;
      width: 14px;
      color: #271f54;
  }

  .search-box{
    margin-top: px;
    margin-left: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f3f4f6;;
    height: 40px;
    border-radius: 130px;
    padding: 6px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
   background: white;
     }
     
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 5px;
 color: #271f54;
 font-size: 14px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}

.aim{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #271f54;
    font-weight: bold;
}

.aim-head{
    font-family: 'Open Sans', sans-serif;
    color: #271f54;
    font-weight: bold;
}
