html{
    height: 100%;
}
.navbar{
    margin-top: 10px;
}

.navbar-nav{
    background-color: transparent;
    margin-left: 200px;
}

.nav-link{
    color: rgb(221, 219, 219);
    font-weight: bold;
}

.collapse{
    background-color: #031633;
    margin-top: 15px;
    padding-bottom: 2px;

}

.d-inline-block{
    padding-left: 5px;
}

.nav-item{
    padding-right: 50px;
    font-size: 14px;
    text-align: center;
}

.nav-item a:hover{
   background-color: #3d8bfd;
   color: red;
   font-size: 16px;
}

.nav-item a:active{
    text-decoration: none;
    color: purple;
}
.top-nav{
    background-color: #010d1e;
}

.nav{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.d-flex{
    margin-left: 100px;
    padding-right: 10px;
}

.carousel-item{
    margin-top: 60px;
    height: 560px;
}

.background{
    background-color: #9fc4fc;
    margin-top: 80px;
}
.card-title{
    text-decoration: underline;
}

.row{
    margin: 50px;
}

.header{
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: #fd2c33;
    text-decoration: underline;
    padding-top: 60px;
}
/*
.col{
    width: 1px;
    height: 5px;
    background-color: black;
}
*/

.f-heading{
    font-family: "Helvetica Neue",Helvetica;
    font-size: small;
    color: rgb(187, 185, 185);
    text-decoration: underline;
    text-align: justify;
}

.list-group a{
    text-decoration: none;
    list-style-type: none;
    font-size: small;
    color: rgb(187, 185, 185);
    font-family: "Helvetica Neue",Helvetica;
    text-align: justify;
}

.list-group a:hover{
    text-decoration: underline;
    color: blue;
}

.list-group a:active{
    text-decoration: none;
    color: rgb(187, 185, 185);
}

.footer{
    background-color: black;
}

#contact {
    color: rgb(187, 185, 185);
    font-size: small;
    font-family: "Helvetica Neue",Helvetica;
    text-align:justify;
}

.footer-icons{
    list-style-type: none;
}

.fa-facebook-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-instagram-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}
.fa-whatsapp-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-pinterest-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.number{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 10px;
    border-right: 2px solid rgb(207, 206, 206);
    color: rgb(207, 206, 206);
}

.fa-phone{
    padding-right: 3px;
    color: rgb(207, 206, 206);
}

.link1{
    color: #4267B2;
}

.link2{
    color: 
}

.link3{
    color: #25D366;
}

.link4{
    color: #E60023
}

.copyright{
    font-size: 12px;
    text-align: center;
    color: rgb(187, 185, 185);
}

.brand-name{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
}

.reserved{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
}

.footer-logo{
    padding-top: 50px;
}

.contact{
    text-align: center;
    background-color: ; 
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}

.contact-form{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: red;
}

.contact-text{
    background-color: darkblue;
}