html{
    height: 100%;
}

.navbar-nav{
    background-color: transparent;
    margin-left: 200px;
}

.nav-item{
    color: black;
    font-weight: bold;
}

/* .collapse{
    margin-top: px;
    padding-bottom: px;

} */

.d-inline-block{
    padding-left: 5px;
}

.nav-item{
    padding-right: 50px;
    font-size: 14px;
    text-align: center;
}

.nav-item a:hover{
   background-color: #3d8bfd;
   font-size: 16px;
}

.nav-item a:active{
    text-decoration: none;
    color: purple;
}

.top-nav{
    background-color: white;
}

/* .nav{
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 10px;
} */

.d-flex{
    margin-left: 100px;
    padding-right: 10px;
}

.carousel-item{
    height: 550px;
}

.carousel-control-next-icon{
    background-color: rgb(180, 179, 179); 
    border-radius: 100px;
}

.carousel-control-prev-icon{
    background-color: rgb(180, 179, 179); 
    border-radius: 100px;
}

.background{
    background-color: ;
    margin-top: 80px;
    padding-bottom: 60px;
}
.card-title{
    text-decoration: underline;
}

.about-img{
    height: 100px;
}

.about-head{
    text-align: center;
}

.row{
    margin: 50px;
}

.header{
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: #fd2c33;
    text-decoration: underline;
    padding-top: 60px;
}
/*
.col{
    width: 1px;
    height: 5px;
    background-color: black;
}
*/

.f-heading{
    font-family: "Helvetica Neue",Helvetica;
    font-size: small;
    color: rgb(187, 185, 185);
    text-decoration: underline;
    text-align: justify;
}

.list-group a{
    text-decoration: none;
    list-style-type: none;
    font-size: small;
    color: rgb(187, 185, 185);
    font-family: "Helvetica Neue",Helvetica;
    text-align: justify;
}

.list-group a:hover{
    text-decoration: underline;
    color: blue;
}

.list-group a:active{
    text-decoration: none;
    color: rgb(187, 185, 185);
}

.footer{
    background-color: black;
}

#contact {
    color: rgb(187, 185, 185);
    font-size: small;
    font-family: "Helvetica Neue",Helvetica;
    text-align:justify;
}

#contact-us{
    text-align: center;
}

.contact-head{
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    color: #5b7a86;
}

.contact-words{
    font-family: helvetica, arial, sans-serif;
    color: rgb(187, 185, 185);
}

.footer-icons{
    list-style-type: none;
}

.fa-facebook-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-facebook-square:hover{
    color: rgb(90, 90, 90);
}

.fa-instagram-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-instagram-square:hover{
    color: rgb(90, 90, 90);

}

.fa-whatsapp-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-whatsapp-square:hover{
    color: rgb(90, 90, 90);
}

.fa-pinterest-square{
    color: rgb(187, 185, 185);
    padding-right: 5px;
}

.fa-pinterest-square:hover{
    color: rgb(90, 90, 90);
}

.number{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 10px;
    border-right: 2px solid #010d1e;
    color: #0f56b9;
}

.signin{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 2px solid #010d1e;
    color: #0f56b9;
    text-decoration: none;
    font-weight: bold;
}

.signin:hover{
    color: #02367e;
    text-decoration: underline #02367e;
}

.login_page{
    background-image: url(image/wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-img{
    margin-top: 15%;
    margin-left: 3%;
}

.background-img-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 30px;
    padding-left: 90px;
}

.login-label{
    color: white;
    text-align: center;
    background-color: #08445c;
}

.login-form{
    border: 2px solid transparent;
    margin-top: 45px;
    margin-right: 80px;
    text-align: center;
    margin-left:100px;
}

.login-form-info{
    background-color: #ec2227;
    padding: 20px;
}

.login{
    margin-top: 100px;
}

.login-page-logo{
    padding-left: 90px;
    height: 200px;
    width: 400px;
}

.guest{
    color: black;
}

.guest:hover{
    color: white;
}

.fa-phone{
    padding-right: 3px;
    color: #0f56b9;
}

.link1{
    color: #4267B2;
}

.link2{
    color: 
}

.link3{
    color: #25D366;
}

.link4{
    color: #E60023
}

.copyright{
    font-size: 12px;
    text-align: center;
    color: rgb(187, 185, 185);
}

.brand-name{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
}

.reserved{
    padding-left: 5px;
    border-left: 1px solid  rgb(187, 185, 185);
}

.footer-logo{
    padding-top: 50px;
}

.contact-form{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #254066;
    margin-bottom: 200px;
}

.contact-text{
    background-color: #010e20;
    color: white;
}

#name{
    margin-right: 100px;
}

#tel{
    margin-right: 70px;
}

.btn{
    background-color: #3d8bfd;
    color: white;
    font-weight: bold;
}

.btn:hover{
    background-color: #01265a;
    color: white;
}

.reset{

}

.policy{
    font-family: helvetica, arial, sans-serif; 
    color: black;
    font-size: 14px;
}

.business-name{
    font-style: italic;
}

.about{
    padding-left: px;
    padding-right: px;
    margin-top: 70px;
}

.business-tagline{
    border-bottom: 3px solid black;
    font-style: italic;
}

.about-image1{
    height: 330px;
    width: 320px;
}

.about-image2{
    height: 260px;
    width: 320px;
}

.about-image3{
    height: 510px;
    width: 500px;
    padding-right: 20px;
}

.business-aim{
    font-family: arial,sans-serif;
}

.second-column{
    padding-top: 89px;
    padding-left: 15px;
}

.beliefs{
    background-color: ;
}

p{
    font-family: helvetica, arial, sans-serif;
}

h6{
    font-weight: bold;
}

.mission-statement{
    padding-left:50px; 
    padding-right:50px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.about-statement{
    text-decoration: underline;
}

.card-body{
   background-color: #e4393f;
}

.card-text{
    color: white;
}

.card-title{
    color: rgb(29, 29, 29);
    font-weight: bold;
}

.card_text{
    text-align:center;
    font-family: helvetica, arial, sans-serif;
    font-weight: ;
    color: rgb(22, 19, 19);
    font-size: 35px;
    padding-top: ;
}

.card-img{
    height: 550px;
    width: 12in;
    margin-left: 95px;
    filter: blur(3px);
}

/* .view-portfolio{
    background-color: #14438a;
    color: rgb(212, 211, 211);
    border: ;
    border-radius: 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: medium;
    padding: 6px 8px;
}

.view-portfolio:hover{
    background-color: rgb(2, 2, 68);
    color: white;
} */

/* .card:hover{
    padding;
} */

#map{
    margin-left: 300px;

}

/* #myBtn {
    position: fixed;
    bottom: 325px;
    right: 10px;
    font-size: 25px;
    border: none;
    border-radius: 100px;

    width: 50px;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 15px;
  }

#myBtn:hover {
    background-color: #555;
  } */